<!DOCTYPE html>
<html>
<body>

    <h2>Customer Details</h2>

    <form action="">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="Street No">Street No:</label><br>
        <input type="text" id="StreetNo"><br>
        <label for="City">City:</label><br>
        <input type="text" id="City"><br>
        <label for="Province">Province:</label><br>
        <input type="text" id="Province"><br>
        <label for="Country">Country:</label><br>
        <input type="text" id="Country"><br>
        <label for="PostalCode">Postal Code:</label><br>
        <input type="text" id="Postal Code"><br>
        <label for="Phone">Phone:</label><br>
        <input type="text" id="Phone"><br>
        <label for="Email">Email:</label><br>
        <input type="text" id="Email"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to customer table.</p>

</body>
</html>
