@{
    ViewData["Title"] = "Booking Room";
}
<style>
    body {
        align-content: center;
        align-items: center;
        text-align: center;
    }
</style>

<div class="findroom">
    <img src="~/images/logo.png" width="200" />
    <h1>@ViewData["Title"]</h1>

    <p style="font-size:25px">Dates</p>
    <input type="date" style="width:400px" class="start_date" />
    <p>to</p>
    <input type="date" style="width:400px" class="end_date" />
    <br />

    <p style="font-size:25px">Location</p>
    <select style="width:400px">
        <option>Toronto</option>
        <option>New York</option>
        <option>Halifax</option>
    </select>
    <p style="font-size:25px">Rooms</p>
    <input type="number" style="width:400px" class="room_number" placeholder="Number of rooms" min="1" />
    <p style="font-size:25px">Guests</p>
    <input type="number" style="width:400px" class="guest_number" placeholder="Number of guests" min="1" />
    <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="Roomlist">
        <input type="button" value="BOOK NOW" style="width:400px;color:white;background-color:rebeccapurple; font-size:20px"/>
    </a>
</div>
